<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name/>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.ahut.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.LoginUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.RegisterUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishSubjectUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.PublishSubjectUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.PublishSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ListSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SelectSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitThesisUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.SubmitThesisUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitThesisServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitThesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowThesisInfoServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ShowThesisInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUIServlet</servlet-name>
        <url-pattern>/servlet/LoginUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/servlet/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUIServlet</servlet-name>
        <url-pattern>/servlet/RegisterUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishSubjectUIServlet</servlet-name>
        <url-pattern>/servlet/PublishSubjectUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishSubjectServlet</servlet-name>
        <url-pattern>/servlet/PublishSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectServlet</servlet-name>
        <url-pattern>/servlet/ListSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSubjectServlet</servlet-name>
        <url-pattern>/servlet/SelectSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitThesisUIServlet</servlet-name>
        <url-pattern>/servlet/SubmitThesisUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitThesisServlet</servlet-name>
        <url-pattern>/servlet/SubmitThesisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowThesisInfoServlet</servlet-name>
        <url-pattern>/servlet/ShowThesisInfoServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
