<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>GeneralFilter</filter-name>
        <filter-class>edu.ahut.web.filter.GeneralFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthorityFilter</filter-name>
        <filter-class>edu.ahut.web.filter.AuthorityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HibernateSessionRequestFilter</filter-name>
        <filter-class>edu.ahut.web.filter.HibernateSessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GeneralFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HibernateSessionRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>edu.ahut.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.LoginUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.RegisterUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishSubjectUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.PublishSubjectUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.PublishSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ListSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SelectSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitThesisUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.SubmitThesisUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitThesisServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitThesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowThesisInfoServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ShowThesisInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadThesisServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.DownloadThesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoManageServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.UserInfoManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhotoUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.UploadPhotoUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.UploadPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPhotoUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.ShowPhotoUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackIndexUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.BackIndexUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishBulletinUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.PublishBulletinUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBulletionUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.ShowBulletinUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBulletinServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitBulletinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBulletinServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ListBulletinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailToUserServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.MailToUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMailServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ListMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentIndexUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.StudentIndexUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherIndexUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.TeacherIndexUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMailInfoServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ShowMailInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUnreadMailCount</servlet-name>
        <servlet-class>edu.ahut.web.controller.GetUnreadMailCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyTeacherEmail</servlet-name>
        <servlet-class>edu.ahut.web.controller.GetMyTeacherEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewThesisServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ReviewThesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTeacherCommentServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitTeacherCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUnreadedThesisServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.GetUnreadedThesisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.CheckSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.PassSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitJournalUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.SubmitJournalUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonIndexUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.CommonIndexUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSystemConfigServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SetSystemConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemConfigUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.SystemConfigUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBulletinServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.DeleteBulletinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerManageServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.AnswerManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMasterServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SetMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMasterServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SaveMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerInfoUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.AnswerInfoUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnselectSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.UnselectSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkThesisArchiveServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.MarkThesisArchiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitJournalServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitJournalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSubjectServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.ConfirmSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUnreadJournalServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.GetUnreadJournalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitJournalCommentServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.SubmitJournalCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAnswerUIServlet</servlet-name>
        <servlet-class>edu.ahut.web.UI.StartAnswerUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkGradeServlet</servlet-name>
        <servlet-class>edu.ahut.web.controller.MarkGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadThesisServlet</servlet-name>
        <url-pattern>/DownloadThesisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoManageServlet</servlet-name>
        <url-pattern>/UserInfoManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhotoUIServlet</servlet-name>
        <url-pattern>/UploadPhotoUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhotoServlet</servlet-name>
        <url-pattern>/UploadPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPhotoUIServlet</servlet-name>
        <url-pattern>/ShowPhotoUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackIndexUIServlet</servlet-name>
        <url-pattern>/BackIndexUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishBulletinUIServlet</servlet-name>
        <url-pattern>/PublishBulletinUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBulletionUIServlet</servlet-name>
        <url-pattern>/ShowBulletionUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBulletinServlet</servlet-name>
        <url-pattern>/SubmitBulletinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBulletinServlet</servlet-name>
        <url-pattern>/ListBulletinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailToUserServlet</servlet-name>
        <url-pattern>/MailToUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUIServlet</servlet-name>
        <url-pattern>/LoginUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMailServlet</servlet-name>
        <url-pattern>/ListMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentIndexUIServlet</servlet-name>
        <url-pattern>/StudentIndexUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherIndexUIServlet</servlet-name>
        <url-pattern>/TeacherIndexUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMailInfoServlet</servlet-name>
        <url-pattern>/ShowMailInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUnreadMailCount</servlet-name>
        <url-pattern>/GetUnreadMailCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyTeacherEmail</servlet-name>
        <url-pattern>/GetMyTeacherEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <url-pattern>/DeleteSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewThesisServlet</servlet-name>
        <url-pattern>/ReviewThesisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTeacherCommentServlet</servlet-name>
        <url-pattern>/SubmitTeacherCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUnreadedThesisServlet</servlet-name>
        <url-pattern>/GetUnreadedThesisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSubjectServlet</servlet-name>
        <url-pattern>/CheckSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassSubjectServlet</servlet-name>
        <url-pattern>/PassSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitJournalUIServlet</servlet-name>
        <url-pattern>/SubmitJournalUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonIndexUIServlet</servlet-name>
        <url-pattern>/CommonIndexUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSystemConfigServlet</servlet-name>
        <url-pattern>/SetSystemConfigServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemConfigUIServlet</servlet-name>
        <url-pattern>/SystemConfigUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBulletinServlet</servlet-name>
        <url-pattern>/DeleteBulletinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUIServlet</servlet-name>
        <url-pattern>/RegisterUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishSubjectUIServlet</servlet-name>
        <url-pattern>/PublishSubjectUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishSubjectServlet</servlet-name>
        <url-pattern>/PublishSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectServlet</servlet-name>
        <url-pattern>/ListSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSubjectServlet</servlet-name>
        <url-pattern>/SelectSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitThesisUIServlet</servlet-name>
        <url-pattern>/SubmitThesisUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitThesisServlet</servlet-name>
        <url-pattern>/SubmitThesisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowThesisInfoServlet</servlet-name>
        <url-pattern>/ShowThesisInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerManageServlet</servlet-name>
        <url-pattern>/AnswerManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMasterServlet</servlet-name>
        <url-pattern>/SetMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMasterServlet</servlet-name>
        <url-pattern>/SaveMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerInfoUIServlet</servlet-name>
        <url-pattern>/AnswerInfoUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnselectSubjectServlet</servlet-name>
        <url-pattern>/UnselectSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkThesisArchiveServlet</servlet-name>
        <url-pattern>/MarkThesisArchiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitJournalServlet</servlet-name>
        <url-pattern>/SubmitJournalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSubjectServlet</servlet-name>
        <url-pattern>/ConfirmSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUnreadJournalServlet</servlet-name>
        <url-pattern>/GetUnreadJournalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitJournalCommentServlet</servlet-name>
        <url-pattern>/SubmitJournalCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAnswerUIServlet</servlet-name>
        <url-pattern>/StartAnswerUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkGradeServlet</servlet-name>
        <url-pattern>/MarkGradeServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>gate.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <display-name>common</display-name>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <scripting-invalid>false</scripting-invalid>
            <is-xml>false</is-xml>
            <include-prelude>/header.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <absolute-ordering/>
</web-app>
