<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tmanage?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123123</property>
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Disable the second-level cache  -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.generate_statistics">true</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.c3p0.max_size">50</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <!--other-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping resource="edu/ahut/domain/User.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Unit.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Qualification.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Bulletin.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Thesis.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Subject.hbm.xml"/>
        <mapping resource="edu/ahut/domain/Mail.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
